.middle-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
html,body{
    overflow-x: hidden;
}
* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background:none;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: none;
}

button {
    cursor: pointer;
}

.header-logo {
    display: flex;
}

.burger-menu {
    display: flex;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 8rem;
    padding-inline: 20rem;
    height: fit-content;
    background-color: #ffffff;
    padding-bottom: 3vw;
}

.sec-main-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: clamp(40vw, 30vw, 30vw); */
}

.main-title-div {
    font-size: clamp(3rem, 4vw, 6vw);
    line-height: 0.97em;
    padding-top: 4.8rem;
}

.img-from-div {
    margin-block: 2.5rem;
    font-size: clamp(1rem, 1vw, 1vw);
    font-weight: 300;
}

.freepik {
    border-bottom: 1px solid #212529;
}

.freepik:hover {
    border: none;
    cursor: pointer;
}

.sec-main-div1-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: fit-content;
    gap:clamp(0.1rem,1.2rem,3rem);
}

.sec-main-div1-buttons-div button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.4rem; */
    padding-inline: clamp(0.1rem, 1.2rem, 2rem);
    padding-block: clamp(0.1rem, 0.4rem, 0.4rem);
    font-size: clamp(1rem, 1vw, 1vw);
    width: clamp(9rem,13vw,14vw);
}

.upload-icon-light {
    width: clamp(1.3rem, 1.4vw, 2rem);
    height: clamp(1.3rem, 1.4vw, 2rem);
}

.youtube-icon-dark {
    width: clamp(1.3rem, 2vw, 3rem);
    height: clamp(1.3rem, 2vw, 3rem);
}

.button-upload,
.darker-button {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #359756;
    border-radius: 0.8rem;
    border-style: none;
}

.button-upload:hover,.button-upload:focus {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    border-radius: 0.8rem;
    border-style: none;
}

.button-watch {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    color: black;
    border-radius: 0.8rem;
    border-style: none;
}

.light-button {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #359756;
    border-radius: 0.8rem;
    border-style: none;
    margin-left: clamp(1.6rem, 1.8rem, 1.8rem);
}

.button-watch:hover,.button-watch:focus {
    font-family: 'Roboto', sans-serif;
    background-color: #d9d9d9;
    border-radius: 0.8rem;
    border-style: none;
}

.sec-main-div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-block: 5%; */
}

.sec-main-div2 img {
    height: clamp(18.5rem, 18vw, 18vw);
    margin-left: 3rem;
}

/* ----SECTION---- 2 */

.section-2 {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: clamp(10rem, 10vw, 10vw);
    height: fit-content;
    padding-block: 2rem;
    color: #359756;
    gap: clamp(2.5rem, 2vw,2vw);
}

.sec2-left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(8rem, 40vw,40vw);
    gap: clamp(2.5rem, 2vw,2vw);
    margin-bottom: 25%;
}

.section-2 h2 {
    font-size: clamp(2.3rem, 3vw, 3vw);
    color: #359756;
    padding: clamp(0.2rem, 0.5rem, 1.5rem);
}

.section-2 p {
    font-size: clamp(1rem, 1vw, 2vw);
    color: black;
    padding: clamp(1.6rem, 1.8rem, 1.8rem);
    /* padding-inline: clamp(4.4rem, 4.6rem, 4.6rem); */
}

/* BUTTON EFFECT */
.light-button {
    width: clamp(10rem, 13vw, 20vw);
    padding: clamp(0.1rem, 1.2rem, 2rem);
    font-size: clamp(0.8rem, 1vw, 1vw);
    transition: letter-spacing 1s;
}

/* .light-button:hover {
    box-shadow: 0px 0px 8px 3px #adb5bd;
    letter-spacing: 0.15rem;
    transition: letter-spacing 1.5s;
} */

.sec2-right-left,
.sec2-right-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(2.5rem, 2vw,2vw);
    width: clamp(25rem,25vw,25vw);
}

.back-style {
    background-color: white;
    color: black;
    padding-inline: clamp(0.4rem, 0.6rem, 0.6rem);
    border-radius: 0.3em;
}

.back-style:hover {
    border-radius: 0.3em;
    box-shadow: 0px 0px 7px 1px #e5e5e5;
}

.back-style p {
    color: #555c66;
    font-family: Arial, sans-serif;
}

.back-style img {
    background-color: #d8f6e2;
    border-radius: 50%;
    width: clamp(2rem, 3vw, 3vw);
    padding: clamp(1.4rem, 1.8rem, 1.8rem);
    margin: 1.4rem;
}

.free {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    background-color: #359756;
    border-radius: 0.8rem;
    border-style: none;
    width: clamp(2.5rem, 5vw, 5vw);
    padding: clamp(0.1rem, 0.5rem, 0.5rem);
    margin-bottom: 1rem;
    font-size: clamp(1rem, 1vw, 1vw);
}

.sec2-right-titles {
    font-size: clamp(2rem, 1.9vw, 1.9vw);
    color:#359756;
}

.more_ {
    font-size: clamp(1.5rem, 1.6vw, 1.6vw);
    border-bottom: 3px solid #359756;
    margin-bottom: 4rem;
    cursor: pointer;
    text-transform: uppercase;
}

.more_:hover {
    border-bottom: 3px solid black;
}


/* SECTION 3 */


.section-3 {
    background-color: #f2f2f2;
    width: 100%;
    height: clamp(32.5rem,65vw,65vw);
    /* position: absolute; */
    padding-top: 2rem;
}
.sec3-div{
    background-color: white;
    width: clamp(12.5rem,25vw,25vw);
    padding: 2.2rem;
    border-radius: 1rem;
    z-index: 3;
    position: absolute;
    left: clamp(25rem,50vw,50vw);
    margin-top: clamp(14rem,28vw,28vw);
}
.sec3-div h2{
    padding-bottom: 1rem;
}
.sec3-div p{
    font-size: clamp(1rem,2rem,3rem);
    line-height: 1.5;
}
.img-3_1{
    height: clamp(18.5rem, 29vw, 29vw);
    z-index: 2;
    position: absolute;
    margin-top: clamp(1rem,6vw,6vw);
    left: clamp(14rem,28vw,28vw);
}
.sec3-img-from{
    padding-block: 1rem;
}
.collumn{
    height: clamp(32.5rem,65vw,65vw);
    width: clamp(14rem,24vw,24vw);
    background-color: #359756;
    position: absolute;
    z-index: 1;
    left:clamp(17rem,34vw,34vw);
}
.circle{
    width: clamp(6rem,12vw,12vw);
    height: clamp(6rem,12vw,12vw);
    border-radius: 50%;
    background-color: #8ae4a8;
    z-index: 4;
    position: absolute;
    margin-top: clamp(2rem,4vw,4vw);
    left: clamp(11rem,22vw,22vw);
}
.hr-sec3div{
    display: none;
}

.section-4 {
    width: 100%;
    height: 300px;
    background-color: #555c66;
}
.img-3_2{
    /* display: none; */
}
@media  screen and (min-width: 1212px) {
    .img-3_2{
        display: none;
    }
}
@media  screen and (max-width: 1212px) {
    .section-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding-block: 1rem;
    }
    .collumn{
        display: none;
        position: static;
    }
    .circle{
        display: none;
        position: static;
    }
    .img-3_1{
        display: none;
    }
    .img-3_2{
        position: static;
        left:0;
        width: 70vw;
        height: 50vw;
    }
    .sec3-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position:static;
        margin-block: 3rem;
        left: 0;
        width: 70vw;
    }
    .hr-sec3div{
        display: block;
        width: 70vw;
        color: #359756;
    }
    .section-3 .img-from-div{
        order: 5;
    }
    .section-3 p{
        padding-bottom: 1rem;
    }
    .sec3-div h2{
        padding-block: 2rem;
    }
}
@media screen and (max-width: 1520px) {
    .section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* padding-inline:clamp(30.1rem, 30.5rem, 30.5rem); */
    }

    .sec2-left-div {
        padding-top: 1rem;
        width: 98vw;
        margin-bottom: 5%;
    }
    
    .free {
        margin-bottom: 0.2rem;
    }

    .back-style img {
        margin: 1rem;
        padding: 1rem;
    }

    .sec2-left-div {
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .back-style {
        width: clamp(16rem, 50vw, 50vw);
    }

    .section-2 p {
        padding: clamp(0.5rem, 0.8rem, 1.8rem);
    }

    .more_ {
        margin-bottom: 4rem;
    }
    .sec-main-div2 img{
        margin-left: 5rem;
    }
    .light-button{
        margin-left: 0rem;
    }
}

@media screen and (max-width: 1024px) {
    .section-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100vw; */
        padding-top: 2rem;
        margin: auto;
        padding-inline: 1rem;

        text-align: center;
    }

    .sec-main-div1 {
        width: 90vw;
        align-items: center;
    }
    .sec-main-div2 img{
        margin-left: 0rem;
    }

    .sec-main-div2 {
        width: 100vw;
        align-items: center;
    }

    .img-from-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .main-title-div {
        order: 3;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }

    .img-from-div {
        margin-block:0.5rem;
        margin-bottom: 0;
        order: 2;
    }
    .sec-main-div1{
        order: 4;
    }
    .sec-main-div2{
        order: 1;
    }

    .sec-main-div1-buttons-div {
        order: 5;
        padding-inline: 1rem;
    }
    .sec-main-div1-buttons-div{
        order: 6;
        margin-bottom: 2rem;
    }
}